name: Build Mod
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      
      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: '9.2'
          
      - name: Build with Gradle
        run: gradle build --stacktrace
          
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Mod-Artifacts
          path: build/libs/
